body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.jumbotron{
    margin-top: 10px;
}
.bg-cover {
        background-attachment: static;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.show_record_table{
    color: #fafafa;
}
/* Tip to standardise the height of card images: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width/53252725*/
.card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        margin-top: 5px;
    }
#ms3-footer{
    margin-top: auto;
    height: 50px;
    background-color: teal;
    margin-top: 15px;
    text-align: center;
    color: #fafafa;
}
