{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center">New Record</h2>
    
    <form class="form-horizontal" method="POST" action="{{ url_for('add_record') }}" >
      
      <div class="form-group">
        
        <label class="control-label col-sm-2" for="record_title">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="record_title" placeholder="Title your post" name="record_title">
        </div>
      
        <div class="form-group">
        <label class="control-label col-sm-2" for="common_name">Common Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="common_name" placeholder="Common name" name="common_name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="botanical_name">Botanical Name</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="botanical_name" placeholder="Botanical name" name="botanical_name">
        </div>
      </div>
      
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
         <label class="checkbox-inline" for="summer"><input type="checkbox" value="yes" name="summer">Summer</label>
  <label class="checkbox-inline" for="winter"><input type="checkbox" value="yes" name="winter">Winter</label> 
      
      
  <div class="checkbox">
    <label for="n_fixing"><input type="checkbox" value="yes" name="n_fixing">N-fixing</label>
  </div>
  <div class="checkbox">
    <label for="pollinator_f"><input type="checkbox" value="yes" name="pollinator_f">Pollinator-friendly</label>
  </div>
        </div>
      </div>
      
    <div class="form-group">
        <label class="control-label col-sm-2" for="experience">Experience</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" rows="5" id="experience" placeholder="My experience with this plant" name="experience"></textarea>
        </div>
      </div>
      
       
      <div class="form-group">
        <label class="control-label col-sm-2" for="image_url">Image</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image_url" placeholder="Image URL" name="image_url">
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="image_url">In Product</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="product" placeholder="This field is filled automatically on submit" name="product" disabled>
        </div>
      </div>
      
      
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="submit" class="btn btn-default">Cancel</button>
        </div>
      </div>
      
    </form>
  </div>

{% endblock%}