{% extends "base.html" %} 
{% block content %}
<div class="container-fluid">
  <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/jumbo_3_tiny.jpg)"><!-- Source of opacity styling for bg image: https://codepen.io/JacobLett/pen/vPQKWd -->
  <h2 class="text-center">New Post</h2>

  <form
    class="form-horizontal"
    method="POST"
    action="{{ url_for('add_record') }}"
  >
    <div class="form-group">
      <label class="control-label col-sm-4" for="record_title">Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="record_title"
          placeholder="Title your post"
          name="record_title"
          required
        />
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="common_name"
          >Common Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="common_name"
            placeholder="Common name"
            name="common_name"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="botanical_name"
          >Botanical Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="botanical_name"
            placeholder="Botanical name"
            name="botanical_name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <p>Season: <span><label class="checkbox-inline" for="summer"
            ><input id="summer" type="checkbox" value="Summer" name="season" /> Summer</label
          >
          <label class="checkbox-inline" for="winter"
            ><input id="winter" type="checkbox" value="Winter" name="season" /> Winter</label
          ></span></p>
          
          <p>N-Fixing: <span>
            <input type="radio" id="n-fixing_y" name="n_fixing" value="yes">
            <label class="radio-inline" for="n-fixing_y">Yes</label>
            <input type="radio" id="n-fixing_n" name="n_fixing" value="no">
            <label class="radio-inline" for="n-fixing_n">No</label>
          </span>
          </p>
          
          <p>Pollinator-friendly: <span><input type="radio" id="pollinator_y" name="pollinator" value="yes">
            <label class="radio-inline" for="pollinator_y">Yes</label>
            <input type="radio" id="pollinator_n" name="pollinator" value="no">
            <label class="radio-inline" for="pollinator_n">No</label></span></p>
            
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="experience"
          >Experience</label
        >
        <div class="col-sm-10">
          <textarea
            class="form-control"
            rows="5"
            id="experience"
            placeholder="My experience with this plant"
            name="experience"
            required
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="image_url">Image</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="image_url"
            placeholder="Image URL"
            name="image_url"
          />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="image_url">In Product</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="product"
            placeholder="This field is filled automatically on submit"
            name="product"
            disabled
          />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <!--Submit-->
          <button type="submit" class="btn btn-secondary btn-teal">Submit</button>
          <!--Cancel-->
          <a href="{{ url_for('show_profile', username = session['session_user'])}}" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock%}
