<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="#" type="text/css" />
    <link
      rel="icon"
      type="image/png"
      href="../static/images/ms3_plant_favicon.ico"
    />

    <title>Green Manure Resource</title>
  </head>
  <body>
    <!-- Navbar - from Bootstrap with custom CSS -->
    <div>
      <nav class="navbar navbar-light navbar-expand-md mr-auto">
      <a class="navbar-brand" href="#">Green Manure Resource</a>
      <span class="navbar-text"> For Growers, By Growers </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleGMNav"
      >
        <span><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleGMNav">
        <ul class="navbar-nav navbar-right text-right ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          {% if session.session_user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_record') }}">Add</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  <!-- Following div to show flash messages sourced from: https://pythonprogramming.net/flash-flask-tutorial/. Customization applied.-->
  <div class="container" style="min-height:100% width:80%">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">OK</span></button>
        {{message}}
        </div>
      {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
<!-- End flash  div from https://pythonprogramming.net/flash-flask-tutorial/-->    
    <main class="container">
      <div><img src="../static/images/mustard_orchard_crop.jpg" alt="Mustard green manure growing in orchard"></div>

      {% block content %} {% endblock %}</main>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
