<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>> -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link
      rel="icon"
      type="image/png"
      href="../static/images/ms3_plant_favicon.ico"
    />
{% block head %} {% endblock %}
    <title>Green Manure Resource</title>
  </head>
  <body>
    <!-- Navbar - from Bootstrap with custom CSS -->
    <div class="container-fluid">
      <div>
      <nav class="navbar navbar-light navbar-expand-md mr-auto">
      <a class="navbar-brand ml-0" href="{{ url_for('get_records') }}">Green Manure Resource</a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleGMNav"
      >
        <span><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleGMNav">
        <ul class="navbar-nav navbar-right text-right ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_records') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_products') }}">Products</a>
          </li>
          {% if session.session_user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_record') }}">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_profile', username = session['session_user'])}}">Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
          </li> 
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
    </div>
<!-- Search bar-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <form id="ms3_search" method="POST" action="{{ url_for('search_res') }}">
        <div class="input-group rounded">
          <input type="search" id="search_term"
          class="form-control rounded" placeholder="Search this site..." aria-label="Search"
            aria-describedby="search-addon" name="search_term"/>
            <input type="submit"  class="input-group-text border-0" id="search-addon" value = "Search"/>
        </div>
    </form>
      </div>
    </div>
  </div>
  <!-- Following div to show flash messages sourced from: https://pythonprogramming.net/flash-flask-tutorial/. Customization applied.-->
  <div class="container" style="min-height:100% width:80%">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">OK</span></button>
        {{message}}
        </div>
      {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
<!-- End flash  div from https://pythonprogramming.net/flash-flask-tutorial/-->    
    
<main class="container">

      {% block content %} {% endblock %}
    
</main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
