{% extends "base.html" %}

{% block content %}

{% if session.session_user %}
<a class="btn btn-default btn-secondary" href="{{ url_for('add_product') }}">Add New Product</a>

{% endif%}
<table class="table table-default">
    <tr>
        <th>Name</th>
        <th>Contains</th>
        <th>Note</th>
        <th>Price</th>
      </tr>

      {% for product in products %}
    <tr>
        <td>{{ product.prod_name|title }}</td>
        <td>{% for elem in product.contains_common %}
          {{ elem | title }}, 
          {% if loop.last %}
          {{ elem | title }}
          {% endif %}
          {% endfor %}</td>
        <td>{{ product.prod_notes | title}}</td>
        <td>{{ product.prod_price | title}}</td>
    </tr>
    
    {% endfor %}
    
  </table>


{% endblock %}