{% extends "base.html" %}

{% block content %}
<table class="table table-default">
    <tr>
        <th>Name</th>
        <th>Contains</th>
        <th>Note</th>
        <th>Price</th>
      </tr>

      {% for product in products %}
    <tr>
        <td>{{ product.name|title }}</td>
        <td>{% for elem in product.contains %}
          {{ elem | title }}, 
          {% if loop.last %}
          {{ elem | title }}
          {% endif %}
          {% endfor %}</td>
        <td>{{ product.notes | title}}</td>
        <td>{{ product.price | title}}</td>
    </tr>
    
    {% endfor %}
    
  </table>


{% endblock %}