{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-cover text-black" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(../static/images/jumbo_bg.jpg)">
  <h1 class="display-4">MS3 Seeds</h1><p>MS3 Seeds is happy to sponsor this knowledge-sharing platform for Irish growers. A shopping cart will be implemented at some point in the future. In the meantime, to order seeds please contact us using the contact page.</p>
<p>Similarly, in case of any issues with the site, log in problems, or general questions - please get in touch and we'll be happy to help.</p>

<h4>Seed Products</h4>
<p>Custom mixes are available, subject to availability. Contact us with your requirements.</p>
<br>

</div>
{% if user_is_admin %}
<a class="btn btn-default btn-secondary mb-5" href="{{ url_for('add_product') }}">Add New Product</a>
{% endif%}

<table class="table table-default">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Contains</th>
        <th>Note</th>
        <th>Price</th>
        {% if user_is_admin %}
        <th>Admin</th>
        {% endif %}
      </tr>

      {% for product in products %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('show_product', product_id = product._id) }}">{{ product.prod_name|title }}</a></td>
        <td>
          {% for elem in product.contains_common %}
          {{- elem | title -}}
          {{ "," if not loop.last else "" }} 
          <!-- Source: https://stackoverflow.com/questions/11974318/how-to-output-a-comma-delimited-list-in-jinja-python-template-->
          {% endfor %}
        </td>
        <td>{{ product.prod_notes}}</td>
        <td>{% if product.prod_price %} {# Check if a price has been entered for the product, if not print 'Contact us' #}
          {{ product.prod_price }}
          {% else %}
          Contact us  
          {% endif %}
        </td>
          
        {% if user_is_admin %}
        <td>
          
          <a class="btn btn-secondary btn-sm" href="{{ url_for('edit_product', product_id = product._id) }}">Edit</a>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal-{{ loop.index }}" data-routeinfo="{{ url_for('delete_product', product_id = product._id) }}">Delete</button>
        </td>
        {% endif %}
      </tr>
      

<!--Modal to confirm deletion-->
<div class="modal fade" id="confirmDeleteModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this product?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deleting the product removes it permanently. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('delete_product', product_id = product._id) }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Delete"></form>
      </div>
    </div>
  </div>
</div>

      {% endfor %}
  </table> 



   
    
{% endblock %}