{% extends "base.html" %}

{% block content %}
<h3>Profile for {{ username }}</h3>

<h4>My Posts</h4>
<table class="table table-default">
    <tr>
        <th>#</th>
        <th>Post Name</th>
        <th>Date</th>
        <th>Edit/Delete</th>
      </tr>

      {% for record in records %}
    <tr>
        <td> {{ loop.index }}</td>
        <td><a href="{{ url_for('show_record', record_id = record._id) }}">{{record.title}}</a></td>
        
        <td>{{ record.added_date}}</td>
        <td><a class="btn btn-secondary btn-sm" href="{{ url_for('edit_record', record_id = record._id) }}">Edit</a>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal-{{ loop.index }}" data-routeInfo="{{ url_for('delete_record', record_id = record._id) }}">Delete</button></td>
    </tr>


    <div class="modal fade" id="confirmDeleteModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete this record?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Deleting the record removes it permanently, together with all associated comments.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{{ url_for('delete_record', record_id = record._id) }}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete"></form>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
</table>
{% endblock%}