{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/jumbo_bg.jpg)">
  <h2>Hi {{ username }} !</h2>
  {% if poster_status %}
  <p class="lead">
    Looks like you have more than five posts. Thanks for your contribution to the site. We hope you're gaining some knowledge too. 
    Keep going - when you hit any multiples of ten, we'll send you a free sample from MS3 seeds.</p>
    {% else %}
    <p class="lead">You don't have very many posts yet but we look forward to hearing more from you. When you hit ten posts, we'll semd you a free sample from MS3 seeds.
    (You have commented {{ commenter_status }} times.)</p>
    {% endif %}
    <hr class="my-4">
    <p class = "lead">If you need to change your password or update your email address, please contact us using the contact form. <br>
      You can edit or delete your previous posts using the options below.
    </p>
</div>

<h2 class="text-center">My Posts</h2>
<!-- Modals Div. Separate loop outside table to avoid html validation errors.
      Order of items is persistent, so the index of items in this list and the table list point to the same record. -->
<div>
  {% for record in records %}
  <div class="modal fade" id="confirmDeleteModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal-{{ loop.index }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete this record?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deleting the record removes it permanently, together with all associated comments.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('delete_record', record_id = record._id) }}" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete"></form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--Table to display the user's posts with edit/delete buttons in last col for each entry-->
<table class="table table-default gmr-table">
    <tr>
        <th>#</th>
        <th>Post Name</th>
        <th>Date</th>
        <th>Edit/Delete</th>
      </tr>
      {% for record in records %}
    <tr>
        <td> {{ loop.index }}</td>
        <td><a href="{{ url_for('show_record', record_id = record._id) }}">{{record.title}}</a></td>
        <td>{{ record.added_date}}</td>
        <td><a class="btn btn-secondary btn-sm" href="{{ url_for('edit_record', record_id = record._id) }}">Edit</a>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" 
          data-target="#confirmDeleteModal-{{ loop.index }}" data-routeinfo="{{ url_for('delete_record', record_id = record._id) }}">Delete</button></td>
    </tr>
      {% endfor %}
</table>
{% endblock%}