{% extends "base.html" %}

{% block content %}
<div id="register-form">
    <form id="ms3_registration" method="POST" action="{{ url_for('register') }}">
        <h3>Register</h3>
        <div class="form-group">
            <label for="name">Username</label>
            <input class="form-control" type="text" id="username" name="username" required /></div>
        <label for="email">Email Address</label>
        <input class="form-control" type="email" id="email" name="email" required />
        <br />
        <label for="password">Password</label>
        <input class="form-control validate" type="password" id="password" name="password" pattern = "^[a-zA-Z0-9]{5,15}$" minlength="5" 
        maxlength = "15" required />
        <br />
        <input type="submit" value="Register" title="Register" />
        <input type="reset" value="Cancel" title="Cancel">
    </form>
    <div class="row">
        <p>Already registered? You can log in <a href="{{ url_for('login') }}">here</a>.</p>
    </div>
</div>

{% endblock%}