{% extends "base.html" %}

{% block content %}
<br>
<h5>Search Results in Products</h5>
{% if prod_results %}
<div class="search-results">

<h6>Showing {{ showing_products }} of {{ showing_products }}</h6>

  {% for prod_result in prod_results %}
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">{{prod_result.prod_name | title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">MS3 Seeds</h6>
      <a href="{{ url_for('show_product', product_id = prod_result._id) }}" class="card-link">Go to product</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div>Sorry, no results found in Products. Pease try another search.</div>
{% endif %}
<br>
<h5>Search Results in Posts</h5>
{% if results %}
<div class="search-results">
<h6>Showing {{ showing_posts }} of {{ no_of_posts }}</h6>
{% for result in results %}
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{result.title | title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Added by {{result.added_by}}, about {{result.common_name}}.</h6>
    <a href="{{ url_for('show_record', record_id = result._id) }}" class="card-link">Go to post</a>
  </div>
</div>

{% endfor %}
</div>
{% else %}

<div>Sorry, no results found in Posts. Pease try another search.</div>

{% endif %}


    
{% endblock %}