{% extends "base.html" %}

{% block content %}


<table class="table table-default">
    <tr>
        <td>Title</td>
        <td>{{record.title}}</td>
    </tr>
    <tr>
        <td>Common Name</td>
        <td>{{record.common_name}}</td>
    </tr>
    <tr>
        <td>Botanical Name</td>
        <td>{{record.botanical_name}}</td>
    </tr>
    <tr>
        <td>Experience</td>
        <td>{{record.experience}}</td>
    </tr>
    <tr>
        <td>Products containing this seed</td>
        <td>{% for elem in record.contained_in %}
            {{ elem | title }}, 
                {% if loop.last %}
                {{ elem | title }}
                {% endif %}
            {% endfor %}
            </td>
    </tr>
    </table>
    <div><img src = "{{record.image_link }}" class="img-fluid max-width: 100% height: auto"></div>

<h3>Comments</h3>
<table class="table table-default">
    {% for comment in record.comments %}
    <tr>
        <td>{{comment.comment_by}}</td>
        <td>{{comment.comment_text}}</td>
    </tr>
    {% endfor %}
    </table>

    {% if session.session_user %}
    <h3>Add Comment</h3>
<form class="form-horizontal" method="POST" action="{{ url_for('show_record', record_id = record._id) }}" >
    <div class="form-group">
        <label class="control-label col-sm-6" for="comment_text">Contribute to the pool of common knowledge!</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="comment_text" placeholder="Add a comment ..." name="comment_text">
            <input type="submit" value="Comment" title="Comment" />
            <input type="reset" value="Cancel" title="Cancel">
        </div>
    {% endif %}


{% endblock %}