{% extends "base.html" %}

{% block content %}

<div class="jumbotron bg-cover text-black" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(../static/images/jumbo_bg.jpg)">
    <h1 class="display-4">{{ product.prod_name|title }}</h1>
    
    <p class="lead">{{ product.leading_info }}</p>
    <hr class="my-4"><table class="show_record_table table table-default mt-5">
        <tr>
            <td style="width: 50%;">Season</td>
            <td>{% if product.summer %}
                Summer  
                {% endif %}
                {% if product.winter %}
                Winter 
                {% endif %}
                </td>
        </tr>
        <tr>
            <td style="width: 50%;">Contains</td>
            <td>{% for elem in product.contains_common %}
                {{- elem | title -}}
                {{ "," if not loop.last else "" }} 
                {% endfor %}</td>
        </tr>
        {% if product.sowing_months %}
        <tr>
            <td style="width: 50%;">Sowing Months</td>
            <td>
                {% for elem in product.sowing_months %}
                {{- elem | title -}}
                {{ "," if not loop.last else "" }} 
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if product.n_fixing %}
        <tr>
            <td style="width: 50%;">N-Fixing?</td>
            <td>
                Yes
            </td>
        </tr>
        {% endif %}
        {% if product.pollinator %}
        <tr>
            <td style="width: 50%;">Pollinator friendly?</td>
            <td>
                Yes
            </td>
        </tr>
        {% endif %}
    </table>
    
</div>

    <div class="row mb-2">
        {% if product.image_link %}
        <div class="col-md-6 mb-2"><img src = "{{ product.image_link }}" class="img-fluid max-width: 100% height: auto"></div>
        {% endif %}
        <div class="col-md-6">
            <h4>Growing Notes</h4>
            <p>{{ product.prod_notes }}</p>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">{% if product.image_link %}
            <div class="mt-0"><small>Image source: <a href="{{ ''.join(['', product.image_link]) }}" target="_blank">{{- product.image_link -}}</a></small></div>
            {% endif %}</div>
        <div class="col-md-6"></div>
    </div> 


{% endblock %}